body {
    background-color: gray;
}

.page {
    display: flex;
    flex-direction: column;
}

header, footer {
    background: #000800;
    color: white;
    padding: 10px;
    text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  flex: 1;
  justify-content: center;
}

.card {
  flex: 1 1 200px;
  background: #f4f4f4;
  padding: 1rem;
  min-width: 200px;
  text-align: center;
}