@use "103-sort_list" as list;

$names-map: (
  anna: 1,
  carrie: 2,
  felicia: 3,
  john: 4,
  kim: 5,
  zoe: 6
);

$sorted-ranks: 1 2 3 4 5 6;
$sorted-names: ();

@each $rank in $sorted-ranks {
  @each $name, $order in $names-map {
    @if $order == $rank {
      $sorted-names: append($sorted-names, $name);
    }
  }
}

// Debug output of the sorted list of names
@debug $sorted-names;
