@use "103-sort_list" as list;

$sorted-list : ();
$temp : list.$list_to_sort;

@while length($temp) > 0 {
    $min: nth($unsorted_list, 1); 
    $index: 1; 

    @for $i from 2 through length($unsorted_list) {
        $current: nth($unsorted_list, $i);
        @if str-insert("", $current, 0) < str-insert("", $min, 0) {
        $min: $current;
        $index: $i;
        }
    }
    $sorted_list: append($sorted_list, $min);
    $unsorted_list: join(
        slice($unsorted_list, 1, $index - 1),
        slice($unsorted_list, $index + 1)
    );
}

@debug $sorted-list;